/* 图标 */
// .nero-icon-color{
//     // background-image: linear-gradient(90deg, #F9A825 , #F57F17 80%);
//     background:#F57F17;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     // color: #F57F17;
// }
/* 边框 */
// .nero-noborder {
//     border: none;
// }
/* img */
.nero-img-border{
    border-radius: 5px;
}
/* button */
.nero-fixed-btn {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
}